h11{
text-align: center; margin-top: 30px; color: #DC143C; font-family: brush script mt; font-size:200%;
}

h1{
text-align: center; margin-top: 30px; color: #DC143C; font-family: brush script mt; font-size:300%;
}